{
    "extends": [
        "prettier",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "eslint:recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["import", "react", "react-hooks", "jsx-a11y"],
    "settings": {
        "import/resolver": "webpack",
        "import/ignore": ["node_modules", ".png$", ".jpg$"],
        "react": {
            "version": "detect"
        }
    },
    "globals": {
        "window": true,
        "document": true
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "import/no-duplicates": "off",
        "import/no-named-as-default": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true,
                "optionalDependencies": true
            }
        ],
        "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
        "linebreak-style": "off",
        "react/jsx-filename-extension": 0,
        "import/prefer-default-export": "off",
        "react/forbid-prop-types": "off",
        "react/prop-types": 0,
        "react/no-danger": "off",
        "react/require-default-props": "off",
        "react/no-array-index-key": "on",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "no-use-before-define": 0,
        "max-len": ["error", { "code": 160, "ignoreUrls": true }],
        "complexity": ["off", 12],
        "radix": "error",
        "no-eval": "error",
        "no-var": "error",
        "no-array-constructor": "error",
        "prefer-destructuring": "warn",
        "prefer-template": "warn",
        "jsx-quotes": ["error", "prefer-double"],
        "no-multi-spaces": "error",
        "no-const-assign": "error"
    }
}
